.add-container{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#F7FDFF;
    margin-bottom: 0;
}
.cont-cardbtn{
    width: 15%;
    height: 40px;
    border-radius: 8px;
    border: 1px;
    font-size: 14px;
    font-family: 'Poppins';
    border: solid 2px #8064A2;
    background-color: white;
    color: #8064A2;
    font-weight: 600;
    margin-top: 2%;
}
.cont-cardbtn:hover{
    background-color: #8064A2;
    color: white;
} 
.cont-card{
    width: 75%;
    border: 1px solid gainsboro;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    padding: 2%;
    font-family: 'Poppins';
}