/* applying css to the top container */
.footer-top-container{
    background-color: #F7FDFF;
}
.footer-top-content{
    padding-left: 10%;
    padding-top: 8%;
}
.content{
    font-family: Poppins;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 54px;
    text-align: left;
}
.footer-top-btn{
    border-radius: 8px;
    border: 1px;
    font-size: 14px;
    font-family: 'Poppins';
    background-color: #8064A2;
    color: white;
    font-weight: 800;
    line-height: 30px;
    margin-top: 3%;
    margin-left: 1%;
}
.footer-top-img{
    height: 50%;
    width: 90%;
    margin-top: 40%;
    margin-right: 10%;
    padding-left: 0%;
    margin-bottom: 5%;
}

/* styling links */
.footer-bottom-container{
    margin-top: 40px;
}
.footer-bottom-content{
    font-family: 'Poppins';
    margin-bottom: 5%;
    margin-top: 40px;
}
ul {
    list-style-type: none;
}
li {
    cursor: pointer;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 5%;
}
.social-media-btn{
    background-color: #EBEDF0;
    border-radius: 50%;
    border: none;
}

/* styling footer search bar */
.footer-search-bar{
    margin-top: 10%;
}
.footer-search-textbox{
    width: 100%;
    height: 40px;
    border: #8064A2 solid 2px;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5%;
}
.footer-search-button{
    width: 25%;
    height: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-left: -10px;
    background-color: #8064A2;
    border: none;
    margin-top: 5%;
}
/* applying css to copyright container */
.footer-bottom{
    display: flex;
    background-color: #F7F5F9;
    width: 100%;
    height: 60px;
    justify-content: center;
    margin-bottom: 1%;
}
.copyright-text{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 2%;
}

/* resposiveness */
@media (max-width: 768px) {
    .footer-top-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: left;
        text-align: center;
        padding-left: 0; /* Remove padding for smaller screens */
        padding-right: 0; /* Remove padding for smaller screens */
        margin:0;
        margin-bottom: 20px;
    }
    .footer-top-content .content{
        font-size: 18px;
    }
    .footer-top-content .footer-top-btn{
        max-width: 350px;
        max-height: 30px;
        font-size: 14px;
        font-weight: 400;
    }
    footer-bottom-container{
        margin-top: 40px;
        display: flex;
        justify-content: center; 
        align-items: left;
        margin-left: 200px;
    }
    .footer-bottom-content {
        margin-top: 40px;
        text-align: left; 
        flex-direction: column;
        margin:0;
    }

    .social-title{
        margin-left: 20px;
    }
    .social-media {
        margin-top: 40px;
        justify-content: center; 
        margin-left: 10px;
        margin-bottom:10px;
        margin-top: 0;

    }
    .invite-text{
        margin-left: 0px;
        margin-right: 150px;
    }
    .footer-search-bar {
        text-align: center;
        margin:0;
    }
    .footer-bottom{
        margin-top: 40px;
    }
}

